---
import LandingLayout from '../layouts/LandingLayout.astro';
import Features from '../components/landing/Features.astro';
import Courses from '../components/landing/Courses.astro';
---

<LandingLayout title="GASing - Interactive Learning Platform">
	<main>
		<Features />
		<Courses />
	</main>
</LandingLayout>

<style>
	main {
		width: 100%;
		padding-top: 4rem;
	}
</style>
